<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Parallax Background">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <main>
    <nav class="nav">
      <a href="#section1" class="nav-link nav1 smoothScroll"></a>
      <a href="#section2" class="nav-link nav2 smoothScroll"></a>
      <a href="#section3" class="nav-link nav3 smoothScroll"></a>
      <a href="#section4" class="nav-link nav4 smoothScroll"></a>
    </nav>
    <section id="section1" class="bg bg-1">
      <h1 class="header">Fixed Background Scrolling Layout</h1>
    </section>
    <section id="section2" class="bg bg-2"></section>
    <section id="section3" class="bg bg-3"></section>
    <section id="section4" class="bg bg-4"></section>
  </main>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
