<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Animated Search Form">
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <h1>Icon Hover Effects</h1>
  </header>
  <section class="section1" id="sec1">
    <div class="icon-row icon-row-1">
      <a href="#sec1" class="fa fa-home"></a>
      <a href="#sec1" class="fa fa-globe"></a>
      <a href="#sec1" class="fa fa-heart"></a>
      <a href="#sec1" class="fa fa-diamond"></a>
      <a href="#sec1" class="fa fa-gift"></a>
    </div>
    <div class="icon-row icon-row-2">
      <a href="#sec1" class="fa fa-home"></a>
      <a href="#sec1" class="fa fa-globe"></a>
      <a href="#sec1" class="fa fa-heart"></a>
      <a href="#sec1" class="fa fa-diamond"></a>
      <a href="#sec1" class="fa fa-gift"></a>
    </div>
  </section>
  <!-- <section class="section2" id="sec2">
    <div class="icon-row icon-row-1">
      <a href="#sec2" class="fa fa-home"></a>
      <a href="#sec2" class="fa fa-globe"></a>
      <a href="#sec2" class="fa fa-heart"></a>
      <a href="#sec2" class="fa fa-diamond"></a>
      <a href="#sec2" class="fa fa-gift"></a>
    </div>
    <div class="icon-row icon-row-2">
      <a href="#sec2" class="fa fa-home"></a>
      <a href="#sec2" class="fa fa-globe"></a>
      <a href="#sec2" class="fa fa-heart"></a>
      <a href="#sec2" class="fa fa-diamond"></a>
      <a href="#sec2" class="fa fa-gift"></a>
    </div>
  </section>
  <section class="section3" id="sec3">
    <div class="icon-row icon-row-1">
      <a href="#sec3" class="fa fa-home"></a>
      <a href="#sec3" class="fa fa-globe"></a>
      <a href="#sec3" class="fa fa-heart"></a>
      <a href="#sec3" class="fa fa-diamond"></a>
      <a href="#sec3" class="fa fa-gift"></a>
    </div>
    <div class="icon-row icon-row-2">
      <a href="#sec3" class="fa fa-home"></a>
      <a href="#sec3" class="fa fa-globe"></a>
      <a href="#sec3" class="fa fa-heart"></a>
      <a href="#sec3" class="fa fa-diamond"></a>
      <a href="#sec3" class="fa fa-gift"></a>
    </div>
  </section> -->
  <section class="section4" id="sec4">
    <div class="icon-row icon-row-1">
      <a href="#sec4" class="fa fa-home"></a>
      <a href="#sec4" class="fa fa-globe"></a>
      <a href="#sec4" class="fa fa-heart"></a>
      <a href="#sec4" class="fa fa-diamond"></a>
      <a href="#sec4" class="fa fa-gift"></a>
    </div>
    <div class="icon-row icon-row-2">
      <a href="#sec4" class="fa fa-home"></a>
      <a href="#sec4" class="fa fa-globe"></a>
      <a href="#sec4" class="fa fa-heart"></a>
      <a href="#sec4" class="fa fa-diamond"></a>
      <a href="#sec4" class="fa fa-gift"></a>
    </div>
  </section>
  <section class="section5" id="sec5">
    <div class="icon-row icon-row-1">
      <a href="#sec5" class="fa fa-home"></a>
      <a href="sec5" class="fa fa-globe"></a>
      <a href="sec5" class="fa fa-heart"></a>
      <a href="sec5" class="fa fa-diamond"></a>
      <a href="sec5" class="fa fa-gift"></a>
    </div>
    <div class="icon-row icon-row-2">
      <a href="sec5" class="fa fa-home"></a>
      <a href="sec5" class="fa fa-globe"></a>
      <a href="sec5" class="fa fa-heart"></a>
      <a href="sec5" class="fa fa-diamond"></a>
      <a href="sec5" class="fa fa-gift"></a>
    </div>
  </section>
  <!-- <section class="section6" id="sec6">
    <div class="icon-row icon-row-1">
      <a href="#" class="fa fa-home"></a>
      <a href="#" class="fa fa-globe"></a>
      <a href="#" class="fa fa-heart"></a>
      <a href="#" class="fa fa-diamond"></a>
      <a href="#" class="fa fa-gift"></a>
    </div>
    <div class="icon-row icon-row-2">
      <a href="#" class="fa fa-home"></a>
      <a href="#" class="fa fa-globe"></a>
      <a href="#" class="fa fa-heart"></a>
      <a href="#" class="fa fa-diamond"></a>
      <a href="#" class="fa fa-gift"></a>
    </div> -->
  </section>
  <main>

  </main>

</body>
</html>
